/****************************************************************
  Setup
****************************************************************/
* {
  box-sizing: border-box;
  font-family: outfit, sans-serif;
  text-align: center;
}

:root {
  --LtBckColr: hsl(212, 45%, 89%);
  --LtTxtColr: hsl(220, 15%, 55%);
  --DrkTxtColr: hsl(218, 44%, 22%);
  --CardBckColr: hsl(0, 0%, 100%);
  font-size: 62.5%;
}

/***************************************************************
  Styles
***************************************************************/
body {
  margin: 0;
  background-color: var(--LtBckColr);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--CardBckColr);
  border-radius: 15px;
  max-width: 325px;
  padding: 15px 15px 30px;
 }

 .about-links {
  display: none;
 }

img {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;

}

.label-text {
  padding: 0 15px;
  height: 150px;
}

h1 {
  color: var(--DrkTxtColr);
  font-size: 2.2rem;
  font-weight: 700;
}

p {
  color: var(--LtTxtColr);
  font-size: 1.5rem;
  font-weight: 400;

}

/***************************************************************
  Media Queries
***************************************************************/

@media ( min-width: 1400px ) {
  .about-links {
    font-size: medium;
    display: block;
    position: fixed;
    bottom: 1rem;
  }
}
